<div class="container">
  <div class="row my-5">
    <div class="col-md-12">
      <label for="buscar" class="form-label">Buscar</label>
      <input
        type="search"
        id="buscar"
        class="form-control"
      />
      <div class="form-text">
        Your password must be 8-20 characters long, contain letters and numbers,
        and must not contain spaces, special characters, or emoji.
      </div>
    </div>
    <div class="col-md-12 mt-5">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>id</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
